/* =================
   Global styles
================= */

*{
    margin:0;
    box-sizing: border-box;
    padding: 0;
}

li {
  list-style: none;
}

body {
  background-color: #47a4f0;
  font-family: 'Roboto', sans-serif;
  display: grid;
  grid-gap: 20px;
  grid-template-areas:
    'navbar'
    'mainpage'
    'footer';
}

h1, h2, h3 {
  text-align: center;
}

main {
  grid-area: mainpage;
  margin-bottom: 1em;
  
}


.container-title {
  display: flex;
}


/* =================
   Navbar
================= */
.navbar {
  grid-area: navbar;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
  height: 125px;
  min-width: 430px;
  background-color: #1f1c18;
}

.logo-all {
  display: flex;
  align-items: center;
  margin: 1.5em 0;
}

.logo-name {
  font-size: 1.5rem;
  color: #fff;
}

.logo-img {
  margin-right: 5px;
}

.menu-items {
  display: flex;
  font-weight: 600;
  margin-bottom: 1em;
}

a:-webkit-any-link {
  color:#fff;
}

a:-webkit-any-link {
  text-decoration: none;
}

.menu-items li {
  list-style: none;
  font-size: 1.5rem;
  color: #fff;
  cursor: pointer;
  letter-spacing: 0.5px;
  position: relative;
  padding: 0 10px;
}

.menu-items li:after {
  content: "";
  position: absolute;
  background-color: #0b5c72;
  height: 3px;
  width: 0;
  left: 0;
  bottom: -10px;
  transition: 0.3s;
}

.menu-items li:hover,
.menu-items li:focus,
a:hover,
a:focus,
.logo-name:hover,
.logo-name:focus {
  color: #0575e6;
  cursor: pointer;
}

.menu-items li:hover:after,
.menu-items li:focus:after {
  width: 100%;
}

@media (min-width: 600px) {
  .navbar {
    flex-direction: row;
    max-height: 100px;
    padding: 0 30px;
  }
  .logo-all {
    margin: 0;
  }
  .menu-items {
    margin: 0 2.5em 0;
  }
}

/* =================
   Footer
================= */
footer {
  grid-area: footer;
  display: flex;
  flex-direction: column;
  background-color: #000;
  height: 100px;
  width: 100%;
  bottom: 0px;

}

.social-contacts {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-top: 35px;
}

.social-contacts li a {
  margin-right: 60px;
  font-size: 24px;
  color: white;

}

.social-contacts li:hover {
  background-color: rgba(104, 97, 211, 0.432);
  transform: translateY(-10px);
}

.footer {
  color: white;
  font-size: 18px;
  padding-top: 15px;
}

/* =================
  Nature Admires
================= */
.side-left-rev {
  width: 10%;
  float: left;
  padding: 20px;

}

.places-choice-container {
display: flex;
flex-direction: column;

}

.list-places {
  color: #fff;
  font-weight: 700;
  padding: 5px;
}

.places-choice-title {
text-align: left;
}

.list-places:hover,
.list-places:focus {
  cursor: pointer;
  background-color: #000;
  transform: scale(1.3);
  width: 85px;
}

#img-display {
  margin: 0 auto;
  display: block;
  width: 600px;
  height: 400px;
  border: 2px solid gold;
  box-shadow: 10px 10px 5px #ccc;
  border-radius: 25px;
}

.details-display {
  text-align: center;
  margin-top: 10px;
  padding: 10px;
}

.review-btn {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.spec-btn {
  width: 200px;
  padding: 10px;
  margin: 5px 10px;
  border-radius: 10px;
  border: none;
  background-color: #fff;
  color: rgba(0, 0, 0, 0.75);
  font-weight: 700;

}

.add-img {
  visibility: hidden;
  width: 100%;
  display: inline-block;
  text-align: center;
  margin: 0 auto;
}

.add-img>img {
  width: 280px;
  border: 2px solid gold;
  box-shadow: 5px 5px 2px #ccc;
  border-radius: 20px;
  object-fit: cover;
}

.side-right-rev {
  width: 90%;
  float: left;
  padding: 20px;
}

.img-small {
  margin: 7px;
}

.img-small:hover {
  cursor: pointer;
}

.title-app {
  text-align: center;
  font-size: 3rem;
}

#city-display {
  font-size: 2rem;
  margin-bottom: .5rem;
  color: #fff;
}

#info-display {
  width: 80%;
  margin: 0 auto;
}

/* =================
   Media Queries
================= */

@media (max-width: 750px) {
  .social-contacts li a {
    font-size: 18px;
    margin-right: 30px;
  }
    #img-display {
      width: 400px;
      height: 266px;
    }
    
    .spec-btn {
      width: 100px;
      height: 50px;
    }
    
}

@media (max-width: 700px) {
    .main-review {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    .list-container {
      display: flex;
      flex-direction: row;
    }

    .list-places{
      margin: 10px auto;
    }

    .side-left-rev {
      width: 100%;
      float: none;
      padding: 20px;
    
    }

}

@media (max-width: 600px) {
  .social-contacts {
    flex-direction: column;
    align-items: center;
  }

  footer {
    height: 180px;
  }

  .social-contacts li {
    margin-bottom: 5px;
  }

  .counter-now {
    width: 60%;
  }

  .head {
    width: 40%;
  }
}

@media (max-width: 500px) {
  .main-review {
    display: flex;
    flex-direction: column;

  }

  #img-display {
    width: 280px;
    height: 180px;
  }
}

@media (min-height: 900px) {
  main {
    min-height: 800px;
  }

}

@media (min-height: 1100px) {
  main {
    min-height: 1000px;
  }
}

@media (min-height: 1200px) {
  main {
    min-height: 1200px;
  }
}


